name: Push to S3
on: 
    push:
        branches: [ "main", "feature/**" ]
        paths: ["front/**",".github/workflows/s3_deploy.yml"]
    workflow_dispatch: 

jobs:
    upload_s3:
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repo
            uses: actions/checkout@v4

          - name: Setup AWS CLI
            uses: aws-actions/configure-aws-credentials@v4
            with:
              aws-access-key-id: ${{ secrets.aws_access_key }}
              aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
              aws-region: ${{ secrets.AWS_REGION }}
          - name: Sync files to S3 bucket
            run: |
              aws s3 sync s3://${{ secrets.BUCKET_DIR }} ./front --delete